$color: #777;
$color-danger: #c55;
$font-hacker: Courier, monotype;

.controls {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 10;
  padding-right: 0.1rem;
}
.controls__raw-switch {
  margin: 1rem 0 1.5rem;
  display: flex
}
.col-50 {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.controls__raw-switch input {
  display: none;
}
.controls__raw-switch label {
  cursor: pointer;
  color: $color;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.controls__raw-switch label:hover {
  color: #000;
}
.controls__raw-switch input:checked + label {
  text-decoration: underline;
  cursor: default;
}
.controls__raw-switch input:checked + label:hover {
  color: $color;
}

.controls__input, .controls__submit {
  width: 100%;
  display: block;
  background: #fff;
  border-radius: 0;
  height: 2rem;
  line-height: 2rem;
  margin: 0.2rem 0;
  border: 1px solid #333;
}

.controls__input:focus,
.controls__submit:focus {
  border-color: #080;

}
.controls__input {
  padding-left: 1rem;
  font-family: $font-hacker;
}
.controls__error {
  color: $color-danger;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.controls__history {
  width: 100%;
  overflow-y: auto;
  font-family: $font-hacker;
}

.controls__history-header {
  display: flex;
  justify-content: space-between;
}
.controls__history-label {
  font-size: 0.7em;
  color: $color;
}
.controls__clear-history {
  font-size: 0.7em;
  border: none;
  background: none;
  border-radius: 0;
  color: $color;

  &:hover {
    color: $color-danger;
    cursor: pointer;
  }
}
